{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="grid">
	<article style="padding-left: 100px;">
		<div class="subitems_0">
			<div class="text_child">
				<span class="h1_text_child" style="color: #4b3584;">
					<span style="color: rgb(112, 194, 185);">Доверьте ребёнку управлять</span>
					<span style="color: rgb(112, 194, 185);">собственными деньгами </span>
				</span>
			</div>
		</div>
		<div class="subitems">
			<div>
				<div style="padding-top: 50px;" class="tn-atom" field="tn_text_1602170366894">
					Мы создали "Реальную школу", чтобы обезопасить подростков 
					от необдуманных финансовых поступков и дать успешные перспективы в будущем
				</div>
				<div class="subitems_2">
					<div>
						<a class="tn-aton" href="#courses">Записаться на курс</a>
					</div>
					<div>
						<a class="tn-aton-2" href="#freeles">Попробовать бесплатно</a>
					</div>
				</div>
			</div>
			<div>
				<div class="tn-atoms">
					<img class="tn-atom__img t-img loaded" data-original="https://static.tildacdn.com/tild6165-3034-4639-a262-653137396662/Asset_9.svg" imgfield="tn_img_1602172074096" src="https://static.tildacdn.com/tild6165-3034-4639-a262-653137396662/Asset_9.svg">
				</div>
			</div>
		</div>
	</article>
	<aside style="background-color: #e6325c; padding: 60px; ">
		<div>
			<div class="tn-aside" field="tn_text_1603273461453">Пройдите бесплатный урок</div>
			<div class="tn-aside-2" field="tn_text_1603273567259">Познакомитесь с форматом и получите<br>скидку на покупку полного курса.</div>
			<a class="tn-aside-3" href="#freeles">Оставить заявку</a>
		</div>
	</aside>
	<footer>
		<div class="tn-urok" field="tn_text_1609794168565">Как проходят уроки</div>
		<div class="tn-urok-2" field="tn_text_1609794182970">Ваш ребёнок освоит финансовую грамотность и научится полезным денежным привычкам, участвуя в курсе</div>
		<div class="subitems_footer">
			<div class="footer_sub">1.Узнаёт простые и понятные принципы финансовой грамотности на уроках.</div>
			<div class="footer_sub" style="background-color: #2f2f2f;">2. Получает практическое задание для закрепления знаний и чтобы выработать полезный навык.</div>
			<div class="footer_sub">3. Выполняет задания регулярно, так как мы объясняем очевидную выгоду и мотивируем доводить дело до конца.</div>
			<div class="footer_sub" style="background-color: #2f2f2f;">4. Общается в "Чате миллионеров" и формирует правильное развивающее окружение.</div>
			<div class="footer_sub" style="background-color: #2f2f2f;">5. Получает советы от кураторов во время проверки домашних заданий.</div>
			<div class="footer_sub">6. Приходит на онлайн-квест, чтобы закрепить новые навыки в условиях, приближенных к реальности.</div>
			<div class="footer_sub" style="background-color: #2f2f2f;">7. К финалу обучения понимает, как достичь поставленной цели.</div>
			<div class="footer_sub">8. В полной мере ощущает свою ответственность за достижение своих целей.</div>
		</div>
	</footer>
</div>
  
{% endblock content %}